{% extends 'dashboard_base.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td colspan="6">Proposed plan </td>
      <td colspan="6">Actual plan </td>
    </tr>
	
    <tr>
      <td class="px-4 py-3 border-b border-slate-100">SI.no</td>
      <td class="px-4 py-3 border-b border-slate-100">Topic</td>
      <td class="px-4 py-3 border-b border-slate-100">Description</td>
      <td class="px-4 py-3 border-b border-slate-100">Date</td>
      <td class="px-4 py-3 border-b border-slate-100">Hour</td>
      <td class="px-4 py-3 border-b border-slate-100">Module</td>
      <td class="px-4 py-3 border-b border-slate-100">SI.no</td>
      <td class="px-4 py-3 border-b border-slate-100">Topic</td>
      <td class="px-4 py-3 border-b border-slate-100">Description</td>
      <td class="px-4 py-3 border-b border-slate-100">Date</td>
      <td class="px-4 py-3 border-b border-slate-100">Hour</td>
      <td class="px-4 py-3 border-b border-slate-100">Module</td>
    </tr>
    <tr>
      <td class="px-4 py-3 border-b border-slate-100">&nbsp;</td>
      <td class="px-4 py-3 border-b border-slate-100">&nbsp;</td>
      <td class="px-4 py-3 border-b border-slate-100">&nbsp;</td>
      <td class="px-4 py-3 border-b border-slate-100">&nbsp;</td>
      <td class="px-4 py-3 border-b border-slate-100">&nbsp;</td>
      <td class="px-4 py-3 border-b border-slate-100">&nbsp;</td>
	   <td class="px-4 py-3 border-b border-slate-100">&nbsp;</td>
      <td class="px-4 py-3 border-b border-slate-100">&nbsp;</td>
      <td class="px-4 py-3 border-b border-slate-100">&nbsp;</td>
      <td class="px-4 py-3 border-b border-slate-100">&nbsp;</td>
      <td class="px-4 py-3 border-b border-slate-100">&nbsp;</td>
      <td class="px-4 py-3 border-b border-slate-100">&nbsp;</td>
    </tr>
  </table>
</form>
</body>
{% endblock %}


