<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
{% extends 'hodindex.html' %}
{% block body %}

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>
<style>
 td {
  border: 1px solid;
}
input {
  width: 100%;
}
table {
  width: 90%;
}
     th{
    background-color:#252B34;
    }
input[type=submit] {
  width: 100px;
  background-color: #ef6445;
  color: white;
  padding: 8px 20px;
  margin: 6px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
th {
  padding-top: 12px;
  padding-bottom: 12px;
   border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  background-color: #ef6445;
  color: white;
}
</style>
<center>
<body>
<!--<form id="form1" name="form1" method="post" action="addfees1#about">-->
  <!--<table width="232" border="1" class="table">-->
<form method="post" name="form1" id="form1" action="updatefee#about">
  <table width="301" border="1">
    <tr>
      <th>Title</th>
      <td>
        <input type="text" name="textfield22" value="{{val['title']}}" />
      </td>
    </tr>
    <tr>
      <th>semester</th>
      <td>
        <select name="select">
          <option value="1">s1</option><option value="2">s2</option>
          <option value="3">s3</option><option value="4">s4</option>
        </select>
      </td>
    </tr>
    <tr>
      <th>Amount</th>
      <td>
        <input type="text" name="textfield" value="{{val['amount']}}"/>
      </td>
    </tr>
    <tr>
      <th>last date </th>
      <td><input type="date" name="textfield2" value="{{val['lastdate']}}" /></td>
    </tr>
    <tr>
      <th>description</th>
      <td><input type="text" name="textfield3" value="{{val['description']}}"/></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><label>
        <div >
          <input type="submit" name="Submit" value="add" />
          </div>
      </label></td>
    </tr>
  </table>
</form>
</body>
  </center>
<!--</html>-->
{% endblock %}