<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
{% extends 'hodindex.html' %}
{% block body %}

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>
<center>
<body>
<form method="post" enctype="multipart/form-data" name="form1" id="form1" action="/updatestudent#about">
  <table width="301" border="1">
<!--<form id="form1" name="form1" method="post" action="/updatestudent#about" enctype="multipart/form-data">-->
  <!--<table width="324" border="1" class="table">-->
    <tr>
      <th >Name</th>
      <td ><label>
        <input type="text" size="" name="textfield" value="{{val['name']}}" required pattern="[A-Z a-z.]{3,25}" />
      </label></td>
    </tr>
    <tr>
      <th>Addmission no </th>
      <td><label>
        <input type="text" name="textfield2" value="{{val['addmission no']}}"  required/>
      </label></td>
    </tr>
    <tr>
      <th>semester</th>
      <td><label>
        <select name="select">
          <option value="1">s1</option><option value="2">s2</option>
          <option value="3">s3</option><option value="4">s4</option>
        </select>
      </label></td>
    </tr>
    <tr>
      <th>Gender</th>
      <td><label>
        <input name="radiobutton" type="radio" value="male" {% if val['gender']=="male" %} checked {% endif %}/>
        </label>
        male
        <label>
          <input name="radiobutton" type="radio" value="female" {% if val['gender']=="female" %} checked {% endif %}/>
        </label>
        female
        <label>
          <input name="radiobutton" type="radio" value="others" {% if val['gender']=="others" %} checked {% endif %}/>
        </label>
        others </td>
    </tr>
    <tr>
      <th>Dob</th>
      <td><input type="date" name="textfield33" value="{{val['dob']}}" required/></td>
    </tr>
    <tr>
      <th>Address</th>
      <td><input type="text" name="textfield34" value="{{val['address']}}" required/></td>
    </tr>
    <tr>
      <th>Phone</th>
      <td><input type="text" name="textfield35" value="{{val['phone']}}" required pattern="[0-9]{10}"/></td>
    </tr>
    <tr>
      <th>Photo</th>
      <td><input type="file" name="file" required ><img src="../static/photos/{{val['photo']}}" height="50px" width="50px"></td>
    </tr>
    <tr>
      <th>Date of jointed </th>
      <td><label>
        <input type="date" name="textfield36" required value="{{val['jointdate']}}"/>
      </label></td>
    </tr>
    <tr>
    <tr>
      <td colspan="2"align="center"><label>
          <div >
            <input type="submit" name="Submit" value="Add" />
          </div>
        </label></td>
    </tr>
  </table>
</form>
</body>
</center>
<!--</html>-->
{% endblock %}