<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
{% extends 'hodindex.html' %}
{% block body %}

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>
<style>
 td {
  border: 1px solid;
}
input {
  width: 100%;
}
table {
  width: 90%;
}
     th{
    background-color:#252B34;
    }
input[type=submit] {
  width: 100px;
  background-color: #ef6445;
  color: white;
  padding: 8px 20px;
  margin: 6px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
</style>
<center>
<body>
<!--<form id="form1" name="form1" method="post" action="addfeedettails1#about">-->
  <!--<table width="271" border="1" class="table">-->
<form method="post" name="form1" id="form1" action="updatefeedetails">
  <table width="301" border="1">
    <tr>
      <td>Fee title</td>
      <td><label>
        <select name="select2">
          {% for i in val1 %}
          <option value="{{i['f_id']}}">{{i['title']}}</option>
          {% endfor %}
        </select>
      </label></td>
    </tr>
    <tr>
      <td >Student name </td>
           <td><label>
        <select name="select3">
          {% for i in v %}
          <option value="{{i['login_id']}}">{{i['name']}}</option>
          {% endfor %}
        </select>
      </label></td>
    </tr>
    <tr>
      <td>Amount paid </td>
      <td><input type="text" name="textfield2"  value="{{val['amount paid']}}"/></td>
    </tr>
    <tr>
      <td>Amount Due </td>
      <td><input type="text" name="textfield3" value="{{val['amount due']}}"/></td>
    </tr>
    <tr>
      <td>date paid </td>
      <td><input type="date" name="textfield4" value="{{val['date paid']}}"/></td>
    </tr>
    <tr>
      <td>Status</td>
      <td><input type="text" name="textfield5" value="{{val['status']}}"/></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><label>
        <div >
          <input type="submit" name="Submit" value="add" />
          </div>
      </label></td>
    </tr>
  </table>
</form>
</body>
  </center>
<!--</html>-->
{% endblock %}