<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form method="post" enctype="multipart/form-data" name="form1" id="form1" action="">
  <table width="301" border="1">
    <tr>
      <td width="85">Name</td>
      <td width="200"><label>
        <input type="text" name="textfield" value="{{val['name']}}"/>
      </label></td>
    </tr>
    <tr>
      <td>Qulification</td>
      <td><label>
        <input type="text" name="textfield2" value="{{val['qualification']}}"/>
      </label></td>
    </tr>
    <tr>
      <td>Designation</td>
      <td><label>
        <input type="text" name="textfield3" value="{{val['designation']}}"/>
      </label></td>
    </tr>
    <tr>
      <td>Sex</td>
      <td><label>
        <input name="radiobutton" type="radio" value="male" />
      </label>
      male
      <label>
      <input name="radiobutton" type="radio" value="female" />
      </label> 
      female 
      <label>
      <input name="radiobutton" type="radio" value="others" />
      </label>
      others </td>
    </tr>
    <tr>
      <td>Age</td>
      <td><input type="text" name="textfield32" value="{{val['age']}}"/></td>
    </tr>
    <tr>
      <td>Phone</td>
      <td><input type="text" name="textfield33" value="{{val['phone']}}"/></td>
    </tr>
    <tr>
      <td>Photo</td>
      <td><input type="file" name="file" value="{{val['photo']}}"/></td>
    </tr>
    <tr>
      <td colspan="2"><label>
        <div align="center">
          <input type="submit" name="Submit" value="add" />
          </div>
      </label></td>
    </tr>
  </table>
</form>
</body>
</html>
