<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
{% extends 'hodindex.html' %}
{% block body %}

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>
<style>
 td {
  border: 1px solid;
}
input {
  width: 100%;
}
table {
  width: 90%;
}
     th{
    background-color:#252B34;
    }
input[type=submit] {
  width: 100px;
  background-color: #ef6445;
  color: white;
  padding: 8px 20px;
  margin: 6px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
</style>
<center>
<body>
<form id="form1" name="form1" method="post" action="/updatestudent#about" enctype="multipart/form-data">
  <table width="324" border="1" class="table">
    <tr>
      <td width="107">Name</td>
      <td width="178"><label>
        <input type="text" size="" name="textfield" value="{{val['name']}}" />
      </label></td>
    </tr>
    <tr>
      <td>Addmission no </td>
      <td><label>
        <input type="text" name="textfield2" value="{{val['addmission no']}}" />
      </label></td>
    </tr>
    <tr>
      <td>semester</td>
      <td><label>
        <select name="select">
          <option value="1">s1</option><option value="2">s2</option>
          <option value="3">s3</option><option value="4">s4</option>
        </select>
      </label></td>
    </tr>
    <tr>
      <td>Gender</td>
      <td><label>
        <input name="radiobutton" type="radio" value="male" {% if val['gender']=="male" %} checked {% endif %}/>
        </label>
        male
        <label>
          <input name="radiobutton" type="radio" value="female" {% if val['gender']=="female" %} checked {% endif %}/>
        </label>
        female
        <label>
          <input name="radiobutton" type="radio" value="others" {% if val['gender']=="others" %} checked {% endif %}/>
        </label>
        others </td>
    </tr>
    <tr>
      <td>Age</td>
      <td><input type="text" name="textfield32" value="{{val['age']}}"/></td>
    </tr>
    <tr>
      <td>Dob</td>
      <td><input type="date" name="textfield33" value="{{val['dob']}}" /></td>
    </tr>
    <tr>
      <td>Address</td>
      <td><input type="text" name="textfield34" value="{{val['address']}}"/></td>
    </tr>
    <tr>
      <td>Phone</td>
      <td><input type="text" name="textfield35" value="{{val['phone']}}"/></td>
    </tr>
    <tr>
      <td>Photo</td>
      <td><input type="file" name="file" ><img src="../static/photos/{{val['photo']}}" height="50px" width="50px"></td>
    </tr>
    <tr>
      <td>Date of jointed </td>
      <td><label>
        <input type="date" name="textfield36" value="{{val['jointdate']}}"/>
      </label></td>
    </tr>
    <tr>
    <tr>
      <td colspan="2"align="center"><label>
          <div >
            <input type="submit" name="Submit" value="add" />
          </div>
        </label></td>
    </tr>
  </table>
</form>
</body>
</center>
<!--</html>-->
{% endblock %}