<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
{% extends 'hodindex.html' %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>
<center>
<body>
<form id="form1" name="form1" method="post" action="updatesubject#about">
  <table width="320" border="1">
    <tr>
      <th width="350">Subject name </th>
      <td ><label>
        <input type="text" name="textfield" value="{{val['subject name']}}"/>
      </label></td>
    </tr>
    <tr>
      <th>Sem</th>
     <td><label>
        <select name="select">
          <option value="1">s1</option><option value="2">s2</option>
          <option value="3">s3</option><option value="4">s4</option>
        </select>
      </label></td>
    </tr>
    <tr>
      <th>Credit</th>
      <td><input type="text" name="textfield3" value="{{val['credit']}}" /></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><label>
        <div >
          <input type="submit" name="Submit" value="Add" />
          </div>
      </label></td>
    </tr>
  </table>
</form>
</body>
  </center>
<!--</html>-->
{% endblock %}

