<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
{% extends 'hodindex.html' %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>
<center>
<body>
<form method="post" enctype="multipart/form-data" name="form1" id="form1" action="updateteacher#about">
  <table width="301" border="1">
    <tr>
      <th width="350">Name</th>
      <td ><label>
        <input type="text" name="textfield" value="{{val['name']}}"/>
      </label></td>
    </tr>
    <tr>
      <th>Qulification</th>
      <td><label>
        <input type="text" name="textfield2" value="{{val['qualification']}}"/>
      </label></td>
    </tr>
    <tr>
      <th>Designation</th>
      <td><label>
        <input type="text" name="textfield3" value="{{val['designation']}}"/>
      </label></td>
    </tr>
    <tr>
      <th>Gender</th>
      <td><label>
        <input name="radiobutton" type="radio" value="male" {% if val['gender']=="male" %} checked {% endif %}/>
      </label>
      male
      <label>
      <input name="radiobutton" type="radio" value="female" {% if val['gender']=="female" %} checked {% endif %}/>
      </label> 
      female 
      <label>
      <input name="radiobutton" type="radio" value="others" {% if val['gender']=="others" %} checked {% endif %}/>
      </label>
      others </td>
    </tr>
    <tr>
      <th>Age</th>
      <td><input type="text" name="textfield32" value="{{val['age']}}"/></td>
    </tr>
    <tr>
      <th>Phone</th>
      <td><input type="text" name="textfield33" value="{{val['phone']}}"/></td>
    </tr>
    <tr>
      <th>Photo</th>
      <td><input type="file" name="file" ><img src="../static/photos/{{val['photo']}}" height="50px" width="50px"></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><label>
        <div >
          <input type="submit" align="center" name="Submit" value="Add" />
          </div>
      </label></td>
    </tr>
  </table>
</form>
</body>
  </center>
<!--</html>-->
{% endblock %}
