<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
{% extends 'hodindex.html' %}
{% block body %}

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>
<center>
<body>
<!--<form id="form1" name="form1" method="post" action="addfees1#about">-->
  <!--<table width="232" border="1" class="table">-->
<form method="post" name="form1" id="form1" action="updatefee#about">
  <table width="301" border="1">
    <tr>
      <th width="350">Title</th>
      <td>
        <input type="text" name="textfield22"  required value="{{val['title']}}" />
      </td>
    </tr>
    <tr>
      <th>semester</th>
      <td>
        <select name="select">
          <option value="1">s1</option><option value="2">s2</option>
          <option value="3">s3</option><option value="4">s4</option>
        </select>
      </td>
    </tr>
    <tr>
      <th>Amount</th>
      <td>
        <input type="text" name="textfield" required  value="{{val['amount']}}"/>
      </td>
    </tr>
    <tr>
      <th>last date </th>
      <td><input type="date" name="textfield2"  required value="{{val['lastdate']}}" /></td>
    </tr>
    <tr>
      <th>description</th>
      <td><input type="text" name="textfield3" required value="{{val['description']}}"/></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><label>
        <div >
          <input type="submit" name="Submit" value="Add" />
          </div>
      </label></td>
    </tr>
  </table>
</form>
</body>
  </center>
<!--</html>-->
{% endblock %}