<!--<!DOCTYPE html>-->
<html lang="en">
{% extends 'indexfor allll.html' %}
{% block body %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<center>
<body>
<form method="post" action="tt1#about">
<table border="1">
    <tr>
        <th>Sem</th>
        <td><select name="s"  >
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select> </td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit" value="Next"></td>
    </tr>
</table>
</form>
</body>
    </center>
<!--</html>-->
{% endblock %}