<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>
<body>
<form id="form1" name="form1" method="post" action="">
  <table width="295" border="1">
    <tr>
      <td width="285" height="289"><div align="center">
          <p><a href="viewteacher">Manage teachers</a></p>
          <p><a href="viewstudents">Manage Students</a></p>
          <p><a href="#">Manage timetable</a></p>
          <p><a href="viewsubject">Manage subject</a></p>
          <p><a href="viewfeedetails">Manage fee details</a></p>
          <p><a href="viewfee">Manage fee</a></p>
          <p><a href="viewassignsub">Assign subject</a></p>
           <p><a href="viewannouncement">Announcement</a></p>
          <p><a href="viewfeedback">View feedback</a></p>
          <p><a href="viewsurvey">View Survey</a></p>
          <p><a href="#">View attendence</a></p>
          <p><a href="/">logout</a></p>
          <p>&nbsp;</p>
      </div></td>
    </tr>
    </table>
</form>
</body>
</html>
