<!--<!DOCTYPE html>-->
<html lang="en">
{% extends 'hodindex.html' %}
{% block body %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
 td {
  border: 1px solid;
}
input {
  width: 100%;
}
table {
  width: 90%;
}
     th{
    background-color:#252B34;
    }
input[type=submit] {
  width: 100px;
  background-color: #ef6445;
  color: white;
  padding: 8px 20px;
  margin: 6px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
th {
  padding-top: 12px;
  padding-bottom: 12px;
   border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  background-color: #ef6445;
  color: white;
}
</style>
<body>
<form method="post" action="tt1">
<table border="1">
    <tr>
        <td>Sem</td>
        <td><select name="s">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select> </td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit" value="Next"></td>
    </tr>
</table>
</form>
</body>
<!--</html>-->
{% endblock %}