<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
{% extends 'hodindex.html' %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>
<center>
<body>
<form id="form1" name="form1" method="post" action="addfees#about">
  <table width="403" border="1">
    <tr>
      <th width="66">Title</th>
      <th width="66">Semester</th>
      <th width="57">Amount</th>
      <th width="66">Last date </th>
      <th width="91">Description</th>
      <th width="89">&nbsp;</th>
    </tr>
    {% for i in val %}
    <tr>
      <td>{{i['title']}}</td>
      <td>{{i['semester']}}</td>
      <td>{{i['amount']}}</td>
      <td>{{i['lastdate']}}</td>
      <td>{{i['description']}}</td>
      <td><p><a href="editfee?id={{i['f_id']}}#about">Edit </a>&nbsp;&nbsp;
      <a href="deletefee?id={{i['f_id']}}#about">Delete</a></p></td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="6"align="center"><label>
        <div >
          <input type="submit" name="Submit" value="add" />
          </div>
      </label></td>
    </tr>
  </table>
</form>
</body>
  </center>
<!--</html>-->
{% endblock %}