<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="addteacher">
  <table width="200" border="1">
    <tr>
      <td>Name</td>
      <td>Qualification</td>
      <td>Designation</td>
      <td>Sex</td>
      <td>Age</td>
      <td>Phone</td>
      <td>Photo</td>
	  <td>&nbsp;</td>
    </tr>
    {% for i in val %}
    <tr>
      <td>{{i['name']}}</td>
      <td>{{i['qualification']}}</td>
      <td>{{i['designation']}}</td>
      <td>&nbsp;{{i['sex']}}</td>
      <td>{{i['age']}}</td>
      <td>{{i['phone']}}</td>
      <td><img src="static/photos/{{i['photo']}}" width="100" height="100"/></td>
	  <td><a href="editteacher?id={{i['login_id']}}">edit</a>
	  <a href="#">delete</a></td>
    </tr>
    {% endfor %}
	  <tr>
      <td colspan="9"><label>
        <div align="center">
          <input type="submit" name="Submit" value="Add" />
          </div>
      </label></td>
    </tr>
  </table>
</form>
</body>
</html>
