<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
{% extends 'hodindex.html' %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>
<center>
<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <th>survey questions</th>
      <th>op1</th>
      <th>&nbsp;op2</th>
      <th>op3</th>
      <th>op4</th>
      <th>answer</th>

    </tr>
    {% for i in val %}
    <tr>
      <td>{{i['survey questions']}}</td>
      <td>{{i['op1']}}</td>
      <td>{{i['op2']}}</td>
      <td>{{i['op3']}}</td>
      <td>{{i['op4']}}</td>
      <td>{{i['ans']}}</td>

    </tr>
    {% endfor %}

  </table>
</form>
</body>
</center>
<!--</html>-->
{% endblock %}
