<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
{% extends 'hodindex.html' %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>
<center>
<body>
<form id="form1" name="form1" method="post" action="addsubject#about">
  <table width="471" border="1">
    <tr>
      <th width="90">Subject name </th>
      <th width="73">Semester</th>
      <th width="59">Credit</th>
      <!--<td width="99">Teacher name </td>-->
      <th width="116">&nbsp;</th>
    </tr>
    {% for i in val %}
    <tr>
      <td>{{i['subject name']}}</td>
      <td>{{i['semester']}}</td>
      <td>{{i['credit']}}</td>
      <!--<td>{{i['name']}}</td>-->
      <td><p><a href="editsubject?id={{i['subj_id']}}#about">Edit </a>&nbsp;&nbsp;
      <a href="deletesubject?id={{i['subj_id']}}">Delete</a></p></td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="5"  align="center"><label>
        <div>
          <input type="submit" name="Submit" value="add" />
          </div>
      </label></td>
    </tr>
  </table>
</form>
</body>
  </center>
<!--</html>-->
{% endblock %}
