<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="addsubject">
  <table width="471" border="1">
    <tr>
      <td width="90">Subject name </td>
      <td width="73">Semester</td>
      <td width="59">Credit</td>
      <!--<td width="99">Teacher name </td>-->
      <td width="116">&nbsp;</td>
    </tr>
    {% for i in val %}
    <tr>
      <td>{{i['subject name']}}</td>
      <td>{{i['semester']}}</td>
      <td>{{i['credit']}}</td>
      <!--<td>{{i['name']}}</td>-->
      <td><p><a href="#">edit </a></p>
      <p><a href="#">delete</a></p></td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="5"><label>
        <div align="center">
          <input type="submit" name="Submit" value="add" />
          </div>
      </label></td>
    </tr>
  </table>
</form>
</body>
</html>
