<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
{% extends 'hodindex.html' %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>
<center>
<body>
<form id="form1" name="form1" method="post" action="assignsub#about">
  <table width="376" border="1">
    <tr>
      <th width="142"><div align="center">Teacher Name </div></th>
      <th width="115">Subject Name </th>
      <th width="97">&nbsp;</th>
    </tr>
    {% for i in val %}
     <tr>
      <td>{{i['name']}}</td>
      <td>{{i['subject name']}}</td>
      <td><p><a href="editassignsub?id={{i['assign_id']}}#about">Edit</a>&nbsp;&nbsp;
      <a href="deleteassignsub?id={{i['assign_id']}}#about3">Delete</a></p></td>
     </tr>
    {% endfor %}
    <tr>
      <td colspan="3"align="center"><label>
        <div >
          <input type="submit" name="Submit" value="add" />
          </div>
      </label></td>
    </tr>
  </table>
</form>
</body>
    </center>
<!--</html>-->
{% endblock %}
